.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules
yarn.lock
# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
old_dir_SUMMARY.md

#
build.sh
.vscode
.vuepress/dist
.DS_Store
Untitled.code-workspace
.gitignore
